<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css"
	rel="stylesheet" type="text/css" />
<link href="css/swiper.min.css" rel="stylesheet" type="text/css">
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/style.css">

<!--字体图标css-->
<link rel="stylesheet" href="font/demo.css">
<link rel="stylesheet" href="font/iconfont.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript"
	src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<style>
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
</style>
</head>
<body>
	<!--头部开始-->

	<section class="personal_box">
		<header class="head">
			<img src="images/logo.png"> <span class="righttop"> <span
				class="search"><input type="text" placeholder="请输入关键词"
					class="searchinput"><i class="icon iconfont icon-sousuo"></i></span>
				<span class="loginicon"><a href="#"><i
						class="icon iconfont icon-denglu"></i>登录</a></span> <span class="loginicon"><a
					href="#"><i class="icon iconfont icon-suo-copy"></i>注册</a></span>
			</span>
		</header>
		<nav>
			<ul class="nav_list">
				<li><a href="#">首页</a></li>
				<li><a href="#">新闻</a></li>
				<li><a href="#">在线业务办理</a></li>
				<li><a href="#">企业产品信息联合发布</a></li>
				<li><a href="#">行业分析报告</a></li>
				<li><a href="#" class="news_top1">最新活动<img
						src="images/hot.png" class="hot"></a></li>
				<li><a href="#">用户调查</a></li>
				<li class="active_li"><a href="#">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
			<button class="perbtn">在线业务办理</button>
		</nav>
	</section>

	<!--中间部分-->
	<section class="qiye_cont w1200">
		<div class="qiye_left">
			<div class="qiye_lefttop">
				<span class="date_qiye"><img src="images/qiye_img1.png">2018-07-10到期</span>
				<span class="shenfen"><img src="images/qiye_img2.png"
					class="qiye_avator"><span class="dengji">v3</span></span> <span
					class="qiye_name">张三三的账户</span>
			</div>
			<ul class="qiye_list">
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-xinxi"></i>厂家基本信息表</a></li>
				<li class="listtwo"><span class="border_active"></span><a
					href="#"><i class="icon iconfont icon-yewu"></i>业务</a>
					<ul class="qiyelist2">
						<li><span class="border_active"></span><a href="#">进网</a></li>
						<li><span class="border_active"></span><a href="#">CCC</a></li>
						<li class="three_list0 "><span class="border_active"></span><a
							href="#">企业联合信息发布 <img src="images/jiantou.png"></a>
							<ul class="qiyelist3">
								<li><span class="border_active"></span><a href="#">业务流程及说明</a></li>
								<li><span class="border_active"></span><a href="#">业务申请</a></li>
								<li><span class="border_active"></span><a href="#">业务办理及状态查询</a></li>
								<li class="li_active"><span class="border_active"></span><a
									href="#">历史任务</a></li>
							</ul></li>
						<li class="three_list0"><span class="border_active"></span><a
							href="#">预置应用列表 <img src="images/jiantou.png"></a>
							<ul class="qiyelist3">
								<li><span class="border_active"></span><a href="#">业务流程及说明</a></li>
								<li><span class="border_active"></span><a href="#">业务申请</a></li>
								<li><span class="border_active"></span><a href="#">业务办理及状态查询</a></li>
								<li><span class="border_active"></span><a href="#">历史任务</a></li>
							</ul></li>
					</ul></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-xiaoxi"></i></i>新消息</a></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-mima"></i>修改密码</a></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-praise-copy"></i>我的关注></a></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-shoucang"></i>我的收藏</a></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-guanli"></i>账户管理</a></li>
			</ul>
		</div>
		<div class="qiye_right">
			<h3>
				<i class="icon iconfont icon-arrfill_u-copy"></i>企业联合信息发布
			</h3>
			<div class="status_info">
				状态: <span class="posi_select"> <select>
						<option>已发布</option>
				</select> <span><img src="images/jiantou.png" /></span>
				</span> <a href="#" class="fabu_select">查询</a> <span
					class="faburight_search"> <input type="text"
					placeholder="输入产品任务编号或关键词"><a href="#" class="fabu_select">搜索</a>
				</span>
			</div>
			<table class="table table-bordered fabu_table">
				<tr class="theads">
					<td>企业联合信息表名称</td>
					<td>状态</td>
					<td>提交日期</td>
				</tr>
				<tr>
					<td>123456798236HUAWEI P20 (EML-AL00 8.1.0.152(C00))</td>
					<td><span class="status_now"><i
							class="icon iconfont icon-jiantou"></i>可修改</span><span
						class="status_now"><i class="icon iconfont icon-jiantou"></i>待发布</span><span
						class="status_now status_geng"><i
							class="icon iconfont icon-jiantou"></i>已发布</span></td>
					<td>2018-07-14</td>
				</tr>
				<tr>
					<td>123456798236HUAWEI P20 (EML-AL00 8.1.0.152(C00))</td>
					<td><span class="status_now status_geng"><i
							class="icon iconfont icon-jiantou"></i>可修改</span><span
						class="status_now"><i class="icon iconfont icon-jiantou"></i>待发布</span><span
						class="status_now"><i class="icon iconfont icon-jiantou"></i>已发布</span></td>
					<td>2018-07-14</td>
				</tr>
				<tr>
					<td>123456798236HUAWEI P20 (EML-AL00 8.1.0.152(C00))</td>
					<td><span class="status_now"><i
							class="icon iconfont icon-jiantou"></i>可修改</span><span
						class="status_now status_geng"><i
							class="icon iconfont icon-jiantou"></i>待发布</span><span
						class="status_now"><i class="icon iconfont icon-jiantou"></i>已发布</span></td>
					<td>2018-07-14</td>
				</tr>
			</table>
			<ul class="fabu_pagination">
				<li>记录总数：314 共32页</li>
				<li><a href="#">上一页</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li><a href="#">8</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">15</a></li>
				<li><a href="#">16</a></li>
				<li><a href="#">下一页</a></li>
				<li><a href="#">末页</a></li>
				<li>跳转到<input type="number" value="0" class="to_page1">页
				</li>
				<li><a href="#">跳转</a></li>
			</ul>

		</div>
	</section>



	<footer class="foot">
		<div class="w1200">
			<span class="hrefto">友情链接</span> <a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a
				href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a>
			<a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a href="#">南方分院(深圳)</a>
			<a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a> <a href="#">中国信息通信研究院</a><a
				href="#">泰尔网</a><a href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a
				href="#">西部分院(重庆)</a> <a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a
				href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a>
		</div>
	</footer>
	<footer class="foots">
		<div class="w1200">
			<span>版权所有 © ：中国信息通信研究院（工信部电信研究院）
				技术支持：中国信息通信研究院（工信部电信研究院）信息管理中心 京ICP备09013372号-25 联系我们</span>
		</div>
	</footer>

	<script src="js/common.js"></script>
</body>
</html>