<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css"
	rel="stylesheet" type="text/css" />
<link href="css/swiper.min.css" rel="stylesheet" type="text/css">
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/style.css">

<!--字体图标css-->
<link rel="stylesheet" href="font/demo.css">
<link rel="stylesheet" href="font/iconfont.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript"
	src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<style>
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
</style>
</head>
<body>
	<!--头部开始-->

	<section class="personal_box">
		<header class="head">
			<img src="images/logo.png"> <span class="righttop"> <span
				class="search"><input type="text" placeholder="请输入关键词"
					class="searchinput"><i class="icon iconfont icon-sousuo"></i></span>
				<span class="loginicon"><a href="#"><i
						class="icon iconfont icon-denglu"></i>登录</a></span> <span class="loginicon"><a
					href="#"><i class="icon iconfont icon-suo-copy"></i>注册</a></span>
			</span>
		</header>
		<nav>
			<ul class="nav_list">
				<li><a href="#">首页</a></li>
				<li><a href="#">新闻</a></li>
				<li><a href="#">在线业务办理</a></li>
				<li><a href="#">企业产品信息联合发布</a></li>
				<li><a href="#">行业分析报告</a></li>
				<li><a href="#" class="news_top1">最新活动<img
						src="images/hot.png" class="hot"></a></li>
				<li><a href="#">用户调查</a></li>
				<li class="active_li"><a href="#">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
			<button class="perbtn">在线业务办理</button>
		</nav>
	</section>

	<!--中间部分-->
	<section class="qiye_cont w1200">
		<div class="qiye_left">
			<div class="qiye_lefttop">
				<span class="date_qiye"><img src="images/qiye_img1.png">2018-07-10到期</span>
				<span class="shenfen"><img src="images/qiye_img2.png"
					class="qiye_avator"><span class="dengji">v3</span></span> <span
					class="qiye_name">张三三的账户</span>
			</div>
			<ul class="qiye_list">
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-xinxi"></i>厂家基本信息表</a></li>
				<li class="listtwo"><span class="border_active"></span><a
					href="#"><i class="icon iconfont icon-yewu"></i>业务</a>
					<ul class="qiyelist2">
						<li><span class="border_active"></span><a href="#">进网</a></li>
						<li><span class="border_active"></span><a href="#">CCC</a></li>
						<li class="three_list0"><span class="border_active"></span><a
							href="#">企业联合信息发布 <img src="images/jiantou.png"></a>
							<ul class="qiyelist3">
								<li><span class="border_active"></span><a href="#">业务流程及说明</a></li>
								<li><span class="border_active"></span><a href="#">业务申请</a></li>
								<li><span class="border_active"></span><a href="#">业务办理及状态查询</a></li>
								<li><span class="border_active"></span><a href="#">历史任务</a></li>
							</ul></li>
						<li class="three_list0"><span class="border_active"></span><a
							href="#">预置应用列表 <img src="images/jiantou.png"></a>
							<ul class="qiyelist3">
								<li><span class="border_active"></span><a href="#">业务流程及说明</a></li>
								<li><span class="border_active"></span><a href="#">业务申请</a></li>
								<li><span class="border_active"></span><a href="#">业务办理及状态查询</a></li>
								<li><span class="border_active"></span><a href="#">历史任务</a></li>
							</ul></li>
					</ul></li>
				<li class="li_active"><span class="border_active"></span><a
					href="#"><i class="icon iconfont icon-xiaoxi"></i></i>新消息</a></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-mima"></i>修改密码</a></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-praise-copy"></i>我的关注></a></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-shoucang"></i>我的收藏</a></li>
				<li><span class="border_active"></span><a href="#"><i
						class="icon iconfont icon-guanli"></i>账户管理</a></li>
			</ul>
		</div>
		<div class="qiye_right">
			<h3>
				<i class="icon iconfont icon-arrfill_u-copy"></i>新消息
			</h3>
			<dl class="my_account">
				<dt>
					<img src="images/xiaoxi.png">
				</dt>
				<dd>
					【审核消息】<span>2018-06-21 18:17</span>
				</dd>
				<dd>
					<a href="#">拍照手机逐渐成为手机市场上的宠儿，各大厂商也极力宣传自家手机的拍照效果，坚果 R1
						却是个例外，在声势浩大的发布会上，介绍相机的 坚果 R1
						的拍照效果，那我们来告诉你。我们拿到手机之后，第一时间在实验室完整地测试了一遍，下面来聊聊最关键的成像素质和样张解析。</a>
				</dd>
			</dl>
			<dl class="my_account">
				<dt>
					<img src="images/xiaoxi2.png">
				</dt>
				<dd>
					【审核消息】<span>2018-06-21 18:17</span>
				</dd>
				<dd>
					<a href="#">拍照手机逐渐成为手机市场上的宠儿，各大厂商也极力宣传自家手机的拍照效果，坚果 R1
						却是个例外，在声势浩大的发布会上，介绍相机的 坚果 R1
						的拍照效果，那我们来告诉你。我们拿到手机之后，第一时间在实验室完整地测试了一遍，下面来聊聊最关键的成像素质和样张解析。</a>
				</dd>
			</dl>
			<dl class="my_account">
				<dt>
					<img src="images/xiaoxi.png">
				</dt>
				<dd>
					【审核消息】<span>2018-06-21 18:17</span>
				</dd>
				<dd>
					<a href="#">拍照手机逐渐成为手机市场上的宠儿，各大厂商也极力宣传自家手机的拍照效果，坚果 R1
						却是个例外，在声势浩大的发布会上，介绍相机的 坚果 R1
						的拍照效果，那我们来告诉你。我们拿到手机之后，第一时间在实验室完整地测试了一遍，下面来聊聊最关键的成像素质和样张解析。</a>
				</dd>
			</dl>
			<dl class="my_account">
				<dt>
					<img src="images/xiaoxi2.png">
				</dt>
				<dd>
					【审核消息】<span>2018-06-21 18:17</span>
				</dd>
				<dd>
					<a href="#">拍照手机逐渐成为手机市场上的宠儿，各大厂商也极力宣传自家手机的拍照效果，坚果 R1
						却是个例外，在声势浩大的发布会上，介绍相机的 坚果 R1
						的拍照效果，那我们来告诉你。我们拿到手机之后，第一时间在实验室完整地测试了一遍，下面来聊聊最关键的成像素质和样张解析。</a>
				</dd>
			</dl>
			<ul class="pagination account_page">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li><a href="#">8</a></li>
				<li><a href="#">9</a></li>
				<li><a href="#">10</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">100</a></li>
				<li><a href="#">下一页</a></li>
			</ul>
		</div>
	</section>



	<footer class="foot">
		<div class="w1200">
			<span class="hrefto">友情链接</span> <a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a
				href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a>
			<a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a href="#">南方分院(深圳)</a>
			<a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a> <a href="#">中国信息通信研究院</a><a
				href="#">泰尔网</a><a href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a
				href="#">西部分院(重庆)</a> <a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a
				href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a>
		</div>
	</footer>
	<footer class="foots">
		<div class="w1200">
			<span>版权所有 © ：中国信息通信研究院（工信部电信研究院）
				技术支持：中国信息通信研究院（工信部电信研究院）信息管理中心 京ICP备09013372号-25 联系我们</span>
		</div>
	</footer>

	<script src="js/common.js"></script>
</body>
</html>