<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css"
	rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/style.css">

<!--字体图标css-->
<link rel="stylesheet" href="font/demo.css">
<link rel="stylesheet" href="font/iconfont.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript"
	src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript"
	src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
</head>
<body>
	<!--头部开始-->

	<section class="personal_box">
		<header class="head">
			<img src="images/logo.png"> <span class="righttop"> <span
				class="search"><input type="text" placeholder="请输入关键词"
					class="searchinput"><i class="icon iconfont icon-sousuo"></i></span>
				<span class="loginicon"><a href="#"><i
						class="icon iconfont icon-denglu"></i>登录</a></span> <span class="loginicon"><a
					href="#"><i class="icon iconfont icon-suo-copy"></i>注册</a></span>
			</span>
		</header>
		<nav>
			<ul class="nav_list">
				<li><a href="#">首页</a></li>
				<li><a href="#">新闻</a></li>
				<li><a href="#">在线业务办理</a></li>
				<li><a href="#">企业产品信息联合发布</a></li>
				<li class="active_li"><a href="#">行业分析报告</a></li>
				<li><a href="#" class="news_top1">最新活动<img
						src="images/hot.png" class="hot"></a></li>
				<li><a href="#">用户调查</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
			<button class="perbtn">在线业务办理</button>
		</nav>
	</section>
	<!--头部end-->
	<section class="two_hangbox">
		<div class="w1200">
			<h1 class="two_title">看看你最适合哪一种</h1>
			<p class="two_desi">2018-04-20 05:28:00 [ 中关村在线 原创 ] 作者：刘聪 |
				责编：吴海龙</p>
			<div class="xq_cont">
				<div class="xq_list">
					北京时间2018年4月19日下午，万众瞩目的荣耀10在上海正式发布了，在这次发布会上，荣耀10这款机型的6GB+64GB售价为2599元，6GB+128GB售价为2999元，并且将在4月19日——4月
					26日，在荣耀官方商城、天猫商城、京东商城进行预约购买，下面，我们简单的了解下这款产品。</div>
				<div class="video_box">
					<video src="images" poster="images/poste.png"></video>
				</div>
				<div class="xq_list">
					北京时间2018年4月19日下午，万众瞩目的荣耀10在上海正式发布了，在这次发布会上，荣耀10这款机型的6GB+64GB售价为2599元，6GB+128GB售价为2999元，并且将在4月19日——4月
					26日，在荣耀官方商城、天猫商城、京东商城进行预约购买，下面，我们简单的了解下这款产品。</div>
				<div class="video_box">
					<img src="images/poste.png">
				</div>
				<div class="xq_list">
					北京时间2018年4月19日下午，万众瞩目的荣耀10在上海正式发布了，在这次发布会上，荣耀10这款机型的6GB+64GB售价为2599元，6GB+128GB售价为2999元，并且将在4月19日——4月
					26日，在荣耀官方商城、天猫商城、京东商城进行预约购买，下面，我们简单的了解下这款产品。</div>
				<div class="xq_btn">
					<button class="xq_active">
						<i class="icon iconfont icon-dianzan"></i>点赞
					</button>
					<button>
						<i class="icon iconfont icon-i-xin"></i>收藏
					</button>
					<button>
						<i class="icon iconfont icon-zhuanfa"></i>转发
					</button>
				</div>
				<div class="xq_title">猜你喜欢的测评</div>
				<div class="cailike_box">
					<dl class="cailike">
						<dt>
							<img src="images/hang2.png">
						</dt>
						<dd class="cai_title">智能化推动硬件升级 看手机摄像头发展趋势</dd>
						<dd class="cai_cont">拍照性能，成为今年各大手机品牌推出新品的主打卖点。而伴随着华为，OPPO，魅族，小米等品牌旗舰与主力新品手机的面试，手机摄像头技术可以说在今年提升了一个大台阶。而在硬件技术升级的背后，是手机拍摄智能化的全面升级。这次，咱们就来聊一聊现如今手机摄像头技术发展的新趋势。</dd>
						<dd class="cai_time">2018/06/14</dd>
					</dl>
					<dl class="cailike">
						<dt>
							<img src="images/hang2.png">
						</dt>
						<dd class="cai_title">智能化推动硬件升级 看手机摄像头发展趋势</dd>
						<dd class="cai_cont">拍照性能，成为今年各大手机品牌推出新品的主打卖点。而伴随着华为，OPPO，魅族，小米等品牌旗舰与主力新品手机的面试，手机摄像头技术可以说在今年提升了一个大台阶。而在硬件技术升级的背后，是手机拍摄智能化的全面升级。这次，咱们就来聊一聊现如今手机摄像头技术发展的新趋势。</dd>
						<dd class="cai_time">2018/06/14</dd>
					</dl>
					<dl class="cailike">
						<dt>
							<img src="images/hang2.png">
						</dt>
						<dd class="cai_title">智能化推动硬件升级 看手机摄像头发展趋势</dd>
						<dd class="cai_cont">拍照性能，成为今年各大手机品牌推出新品的主打卖点。而伴随着华为，OPPO，魅族，小米等品牌旗舰与主力新品手机的面试，手机摄像头技术可以说在今年提升了一个大台阶。而在硬件技术升级的背后，是手机拍摄智能化的全面升级。这次，咱们就来聊一聊现如今手机摄像头技术发展的新趋势。</dd>
						<dd class="cai_time">2018/06/14</dd>
					</dl>
				</div>
				<div class="xq_title xq_title2">参与评论</div>
				<div class="writebox">
					<textarea placeholder="请登录后参与评论..." class="writepl"></textarea>
					<div class="pltj">
						<a href="#">登录</a>后参与评论
						<button>提交评论</button>
					</div>
				</div>
				<div class="xq_title xq_title2">最新评论</div>
				<div class="pl_lists">
					<dl class="pl_list_small">
						<dt>
							<img src="images/avator1.png">
						</dt>
						<dd class="pl_name2">
							张三三 <span>2018-06-19 15:52</span><a href="#" class="return_pl">回复</a>
						</dd>
						<dd class="pl_name2">将所有信息孤岛化的产品：例如园区服务、园区车联网、物业管理、安防管控、环境监测、能耗管控平台等云集于VASTCONN物联云平台统一管理，以实现真正的智慧园区新生活，从而提升园区运营管理效率、降低物业服务管理的人工成本、设施、安防等管控成本、节约能源等。</dd>
						<div class="ej_pl">
							<dl>
								<dd class="pl_name2">
									张三三 <span>2018-06-19 15:52</span>
								</dd>
								<dd class="pl_name2">将所有信息孤岛化的产品：例如园区服务、园区车联网、物业管理、安防管控、环境监测、能耗管控平台等云集于VASTCONN物联云平台统一管理。</dd>
							</dl>
							<dl>
								<dd class="pl_name2">
									张三三 <span>2018-06-19 15:52</span>
								</dd>
								<dd class="pl_name2">将所有信息孤岛化的产品：例如园区服务、园区车联网、物业管理、安防管控、环境监测、能耗管控平台等云集于VASTCONN物联云平台统一管理。</dd>
							</dl>
							<p class="more_pl">查看全部</p>
						</div>

					</dl>
					<dl class="pl_list_small">
						<dt>
							<img src="images/avator1.png">
						</dt>
						<dd class="pl_name2">
							张三三 <span>2018-06-19 15:52</span><a href="#" class="return_pl">回复</a>
						</dd>
						<dd class="pl_name2">将所有信息孤岛化的产品：例如园区服务、园区车联网、物业管理、安防管控、环境监测、能耗管控平台等云集于VASTCONN物联云平台统一管理，以实现真正的智慧园区新生活，从而提升园区运营管理效率、降低物业服务管理的人工成本、设施、安防等管控成本、节约能源等。</dd>

					</dl>
					<dl class="pl_list_small">
						<dt>
							<img src="images/avator1.png">
						</dt>
						<dd class="pl_name2">
							张三三 <span>2018-06-19 15:52</span><a href="#" class="return_pl">回复</a>
						</dd>
						<dd class="pl_name2">将所有信息孤岛化的产品：例如园区服务、园区车联网、物业管理、安防管控、环境监测、能耗管控平台等云集于VASTCONN物联云平台统一管理，以实现真正的智慧园区新生活，从而提升园区运营管理效率、降低物业服务管理的人工成本、设施、安防等管控成本、节约能源等。</dd>
					</dl>
				</div>
			</div>

		</div>

	</section>



	<footer class="foot">
		<div class="w1200">
			<span class="hrefto">友情链接</span> <a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a
				href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a>
			<a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a href="#">南方分院(深圳)</a>
			<a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a> <a href="#">中国信息通信研究院</a><a
				href="#">泰尔网</a><a href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a
				href="#">西部分院(重庆)</a> <a href="#">中国信息通信研究院</a><a href="#">泰尔网</a><a
				href="#">南方分院(深圳)</a> <a href="#">华东分院(上海)</a><a href="#">西部分院(重庆)</a>
		</div>
	</footer>
	<footer class="foots">
		<div class="w1200">
			<span>版权所有 © ：中国信息通信研究院（工信部电信研究院）
				技术支持：中国信息通信研究院（工信部电信研究院）信息管理中心 京ICP备09013372号-25 联系我们</span>
		</div>
	</footer>

</body>
</html>